:root {
    --background: linear-gradient(180deg, rgb(57, 57, 99), rgb(12, 12, 27));
    --header-background: rgb(62, 84, 133);
    --info-background: linear-gradient(-90deg, rgba(57, 57, 99, 0), rgb(12, 12, 27));
    --info-background2: linear-gradient(-45deg, rgba(57, 57, 99, 0) 30%, rgb(12, 12, 27));
    --text-color: rgb(162, 162, 209);
    --label-color: rgb(75, 78, 102);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: linear-gradient(to right, rgb(83, 83, 143), rgb(39, 39, 70));
    --offset-color2: linear-gradient(to left, rgb(83, 83, 143), rgb(39, 39, 70));
    --action-color: rgb(17, 30, 58);
    --horizontal-border-color: linear-gradient(
        90deg,
        rgb(162, 162, 209),
        rgba(162, 162, 209, 0.281)
    );

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: var(--background);
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--background);
    border: 1px solid var(--text-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--label-color);
    border: 1px solid var(--text-color);
}

body::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 15px;
    background: var(--offset-color);
    border: 1px solid var(--text-color);
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
    background: var(--offset-color);
    border: 1px solid var(--text-color);
    height: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

.page-header a {
    color: var(--text-color);
}

.page-header a:hover {
    color: var(--action-color);
}

main {
    padding: 10px;
}

.avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}
